*{
    background-color: rgb(243, 217, 222);
}
.Top{
    background-color: rgb(248, 172, 185);
    font-size: 25px;
    font-family:'Times New Roman', Times, serif

}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none; 
    width: 500px;
    justify-content: space-around;
    font-size: 30px;

}

li{
    text-decoration: underline;
    color: white;
}

.bio{
    font-size: 20px;
    margin-left: 50px;
    display: flex;
    list-style-type:none;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    border-left: solid 12px rgb(170, 86, 100);
    color: rgb(141, 66, 78);
    
}

.amanda{
    background-color:pink;
    bottom:25px;
    width: 100px;
    height:50px;
    font-size: 20px;
    display: inline-block;
    color:white;
}

.about{
    margin-right: 85%;
    margin-top: 60px;
    font-size: 45px;
    left: 45px;
    color: white;
    border-left: 20px;
}

.hobby{
   margin-left:260px;
   border-left: solid 12px rgb(170, 86, 100);
   color: rgb(141, 66, 78);
   font-size: 20px;
}
.report {
    bottom: 25px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.container {
    display: flex;
}

.photo{
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container:hover .photo{
    opacity: 0.3;
  }
